@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* dark 2 */
.text-gray{
    color: #424242;
}

/* dark 3 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(14, 144, 255, 0.1);
}

.btn-primary{
    background-color: rgb(14, 144, 255);
    color: white;
    padding: 20px 25px;
    font-size: 1.01rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 5.3rem;
}

#feature{
    color: rgb(14, 144, 255);
}

.section-title{
    font-size: 2.4rem;
    font-weight: 700;
}
/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand-name{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-items{
    list-style: none;
    margin-right: 20px;    
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar, .banner{
    max-width: 80%;
    margin: 0 auto;
}

/* banner styles */
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.banner-content{
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.625rem;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.banner-description{
    font-size: 1rem;
}
.banner-img{
    width: 100%;
    margin-bottom: 1.8rem;
}

/* teams styles */
.teams{
    align-items: center;
    max-width: 1440px;
}

.team-img-container{
    display: grid;
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.our-features{
    max-width: 530px;
    margin-left: 4.56rem;
}

#quick{
    font-weight: 500;
}

/* feature styles */
.features{
    gap: 9.7rem;
}

#feature-section-title {
    border-left: 5px solid rgb(14, 144, 255);
    margin-top: 20px;
    padding-left: 20px;
}

.features-description{
    margin: 20px 20px;
}
.feature-card{
    padding: 10px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 40px;
}

.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-architect img{
    width: 100%;
}
#experience-badge{
    padding: 40px 45px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -500px;
    margin-left: -100px;
}

#experience-year{
    font-size: 3.7rem;
    font-weight: 700;
}
/* fact styles */
.facts_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
}

.fact-card{
    border: 1px solid rgb(14, 144, 255);
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-value{
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}

.fact-description{
    max-width: 540px;
}

/* sponsor styles */
.sponsor-info{
    max-width: 100%;
    margin: 50 auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
    margin-top: 2.8rem;
}

/* footer styles */
.footer {
    text-align: center;
    background-color: rgba(14, 144, 255, 0.1);
    padding: 1rem;
    margin: 150px auto 100px;
    max-width: 70%;
}

/* responsive media */
@media screen and (max-width: 576px){
    .navbar, 
    .nav-links,
    .teams,
    .features
    {
        flex-direction: column;
    } 
    
    .banner {
    flex-direction: column;
    text-align: center;
    }

    .banner-content {
    max-width: 90%;
    margin-bottom: 1rem;
    }

    .banner-title {
    font-size: 2.2rem;
    }

    .banner-img {
    width: 90%;
    }
    
    .team-img-container,
    .facts_container,
    .sponsor-companies
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin-left: 2rem;
    }

    .facts_container,
    .sponsor-companies{
        justify-items: center;
        gap: 2rem;
    }

    .fact-description{
        max-width: 70%;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 1112px) {
    .teams, .features{
        flex-direction: column;
    }

    .our-features{
        margin-left: 50px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: auto;
    }

    .facts_container,
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;
    }
}